{% if attach.attach_type == 'image' %}
<div class="image-container">
    <button type="button" class="btn btn-link project-image" data-bs-toggle="modal"
        data-bs-target="#exampleModal{{ attach.id }}">
        <img src="{{ attach.file.url }}" alt="" class="project-image" width="100%">
    </button>
</div>

{% elif attach.attach_type == 'video_file' %}
<div class="image-container mt-4">
    {% if attach.file %}
    <video muted controls class="video">
        <source src="{{ attach.file.url }}" type="video/mp4">
        <source src="{{ attach.file.url }}" type="video/ogg">
        <source src="{{ attach.file.url }}" type="video/mkv">
        <source src="{{ attach.file.url }}" type="video/mov">
    </video>
    {% endif %}
</div>

    {% elif attach.attach_type == 'title' %}
    <div class="mt-4  w-100">
        <h2 class="text-start" style="color: {{attach.color}}; background-color:{{ attach.background_color}}">{{ attach.title }}</h2>    
    </div>
        
    {% elif attach.attach_type == 'text' %}
    <div class="mt-4" style="color: {{attach.color}}; background-color:{{ attach.background_color}}">
        <p>{{ attach.text | safe | linebreaksbr }}</p>    
    </div>
    
    {% elif attach.attach_type == 'quote' %}
    <div class="quote mt-4" style="color: {{attach.color}}; background-color:{{ attach.background_color}}">
        <h3>{{ attach.title }}</h3>    
        <p>{{ attach.text | safe | linebreaksbr }}</p>    
    </div>
    {% endif %}