{% extends "_base.html" %}

{% load static i18n %}

{% block title %}
{{ page_title }}  
{% endblock title %}


{% block content %}
<div class="container">    
  <div class="row my-5">
      {% for category in categories %}
      <h2 class="h2"><a href="{{ category.get_absolute_url}}" class="black-link">{{ category }}</a></h2>
          {% for project in category.projects.all %}
              {% for attach in project.attachments.all %}
              <div class="col-md-6 my-2">
                  {% if attach.attach_type == 'image' and attach.cover and attach.project %}
                  <a href="{% url 'projects:project_details' attach.project.slug %}">
                      <div class="image-container">
                          <img src="{{ attach.file.url }}" alt="" class="project-image" width="100%">
                          <div class="overlay">
                              <div class="text">{{ attach.project.title }}</div>
                          </div>
                      </div>
                  </a>
                  {% endif %}
              </div>
              {% endfor %}
          {% endfor %}
      {% endfor %}
  </div>
</div>





{% endblock content %}