{% extends "_base.html" %}

{% load static i18n %}

{% block title %}
{{ page_title }}  
{% endblock title %}


{% block content %}
  <h1>{{ project.title }}</h1>
  <div class="container">
    <div class="row">      
        <div class="col-md-12">      
        {% for attach in project.attachments.all %}        
        <div>
            {% if attach.attach_type == 'image' %}
            <img src="{{ attach.file.url }}" alt="">
            {% endif %}
        </div>
            {% if attach.attach_type == 'text' %}
            <p>{{ attach.text | linebreaksbr }}</p>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>
  </div>
{% endblock content %}