@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif; /* Apply the font to the body */
}
/* change empty space on main container in desktop */
@media (min-width: 992px) {
    .container-custom {
        --bs-gutter-x: 5rem; /* Increases side spacing */
        padding-left: calc(var(--bs-gutter-x) * 1.5) !important;
        padding-right: calc(var(--bs-gutter-x) * 1.5) !important;
    }
}
.image-container {
    position: relative; /* Position relative to contain the overlay */
    overflow: hidden; /* Hide overflow */
    height: 400px; /* Set a fixed height */
    border: 1px solid black;
    border-radius: 25px;
}

.project-image {    
    object-fit: cover; /* Ensures the image covers the area without stretching */
    width: 100%; /* Ensures the image takes the full width of the column */
    height: 100%; /* Set height to 100% of the container */
}

.video {
    object-fit: contain; /* For videos, use contain to show the entire video */
    height: 100%; /* Set height to 100% of the container */
    width: 100%; /* Ensures the video takes the full width of the column */
}


.overlay {
    position: absolute; /* Position overlay absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center the text */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Fade transition */
}

.image-container:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.text {
    color: white; /* Text color */
    font-size: 2.5rem; /* Font size */
    text-align: center; /* Center text */
    font-weight: 600;
}

.btn-link {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    border: none; /* Remove border */
    background: none; /* Remove background */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the button a block element to fill the container */
}

.btn-link:focus, .btn-link:hover {
    outline: none; /* Remove outline on focus */
    text-decoration: none; /* Ensure no underline on hover */
}

.black-link {
    color: black;
    text-decoration: none; /* Optional: to remove underline */
}

.black-link:hover {
    color: darkgray; /* Optional: change color on hover */
}