@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif; /* Apply the font to the body */
}

.image-container {
    position: relative; /* Position relative to contain the overlay */
    overflow: hidden; /* Hide overflow */
}

.project-image {
    height: 400px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    width: 100%; /* Ensures the image takes the full width of the column */
}

.overlay {
    position: absolute; /* Position overlay absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center the text */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Fade transition */
}

.image-container:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.text {
    color: white; /* Text color */
    font-size: 2.5rem; /* Font size */
    text-align: center; /* Center text */
    font-weight: 600;
}